<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LogViewer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <LogViewer.My.MySettings>
            <setting name="ShowStartTab" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowFilesOnStartUp" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
                </value>
            </setting>
            <setting name="WindowStateDefault" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowStateMax" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowStateMin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowFilesOnStartUpCheck" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>True</string>
                        <string>True</string>
                        <string>False</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AutoReloadFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultSavedCopy" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="TextBackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="LineNumberBackColor" serializeAs="String">
                <value>224, 224, 224</value>
            </setting>
            <setting name="TextFontColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="LineNumberFontColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="TextFont" serializeAs="String">
                <value>Consolas, 8.25pt</value>
            </setting>
            <setting name="LineNumberFont" serializeAs="String">
                <value>Consolas, 8.25pt</value>
            </setting>
            <setting name="TextFontString" serializeAs="String">
                <value>Consolas</value>
            </setting>
            <setting name="LineNumberFontString" serializeAs="String">
                <value>Consolas</value>
            </setting>
            <setting name="TextFontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="LineNumberFontSize" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AskForCopyPath" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AddDateToCopy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LockFontSizes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LockFont" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HighLightWords" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ERROR</string>
                        <string>FAIL</string>
                        <string>WARNING</string>
                        <string>EXCEPTION</string>
                        <string>INFO</string>
                        <string>SUCCESS</string>
                        <string>BUG</string>
                        <string>CONFIG</string>
                        <string>TODO</string>
                        <string>FLAG</string>
                        <string>INITIALIZE</string>
                        <string>TERMINATE</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="HighLightWordsColors" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>-65536</string>
                        <string>-65536</string>
                        <string>-65536</string>
                        <string>-32704</string>
                        <string>-16744193</string>
                        <string>-16711808</string>
                        <string>-16711808</string>
                        <string>-16711808</string>
                        <string>-16711808</string>
                        <string>-16711808</string>
                        <string>-16711808</string>
                        <string>-16711808</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="HighLightWordsFontStyle" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>FontStyle.Bold</string>
                        <string>FontStyle.Bold</string>
                        <string>FontStyle.Bold</string>
                        <string>FontStyle.Bold</string>
                        <string>FontStyle.Italic</string>
                        <string>FontStyle.Regular</string>
                        <string>FontStyle.Bold</string>
                        <string>FontStyle.Regular</string>
                        <string>FontStyle.Bold</string>
                        <string>FontStyle.Bold</string>
                        <string>FontStyle.Regular</string>
                        <string>FontStyle.Regular</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="FileTypes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>log files (*.log)</string>
                        <string>txt files (*.txt)</string>
                        <string>err files (*.err)</string>
                        <string>csv files (*.csv)</string>
                        <string>rtf files (*.rtf)</string>
                        <string>sql files (*.sql)</string>
                        <string>fil files (*.fil)</string>
                        <string>bak files (*.bak)</string>
                        <string>old files (*.old)</string>
                        <string>ini files (*.ini)</string>
                        <string>cfg files (*.cfg)</string>
                        <string>config files (*.config)</string>
                        <string>All files (*.*)</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AutoHighlight" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WarnBeforeReload" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RecurseDirectory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FileMonitor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowQuickSearch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScrollToEnd" serializeAs="String">
                <value>True</value>
            </setting>
        </LogViewer.My.MySettings>
    </userSettings>
</configuration>